server:
    port: 8081

spring:
    datasource:
        driver-class-name: com.mysql.cj.jdbc.Driver
        url: jdbc:mysql://101.43.236.42:3306/asyncflow?serverTimezone=GMT%2B8&characterEncoding=utf8&useSSL=false
        username: root
        password: root

mybatis:
    mapper-locations: classpath:mappers/*.xml
    type-aliases-package: com.zdf.asyncflow.data
    #开启驼峰命名
    configuration:
        map-underscore-to-camel-case: true



